table {
  width: 650px;
  border: 2px solid #288fa5;
}

tbody tr {
  background-color: #ffffff;
}

tbody tr:nth-child(odd) {
  background-color: #a5e4f2;
}

tr:hover {
  scale: 1.05;
  font-weight: bold;
}

th {
  border: 2px solid #288fa5;
  padding: 4px 8px;
}

td {
  border: 1px dashed #154854;
  padding: 4px 8px;
  text-align: center;
}

.cabecalho {
  background-color: #195d6e;
  color: #ffffff;
}