body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #e3f0f6;
  align-content: center;
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  margin: 0 auto;
}

form {
  border: 1px solid #134e6e;
  background-color: white;
  width: 300px;
  padding: 32px 24px;
  margin: 0 auto;
}

div {
  display: flex;
  flex-direction: column;
}

div + div {
  margin-top: 16px;
}

input {
  height: 24px;
}

.btn-base {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  margin-top: 16px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.btn-base:hover {
  scale: 1.01;
}

.cadastrar {
  background-color: white;
  border: 1px solid #134e6e;
  color: #134e6e;
}

.cadastrar:disabled {
  color: grey;
  cursor: default;
}

.cadastrar:disabled:hover {
  scale: unset;
}

.voltar {
  background-color: #134e6e;
  border: 1px solid white;
  color: white;
}